.os_mac {
	font-family: "Hiragino Sans GB","Hiragino Sans GB W3";
}

.show-box-content .wrapper .tour-listing-box-shadow .tour-listing-box-paper .column-c .btn-brown {
	width: auto;
}

.mid-btn {
	padding: 17px 19px 1px;
}

.show-box-content .wrapper .tour-listing-box-shadow .tour-listing-box-paper .column-b {
	padding: 0 20px 0 0;
}

.index-show-box .bottom-fold-panel .curve-down .info {
	margin-top: -4px;
}

.finderFoot .laber {
	padding: 0 6px 0;
	letter-spacing: 0.15em;
}

#top-nav-clean-menu-purple {
	margin: 0 0 0 130px;
}

#menu-select-city-purple {
    width: 180px;    
}
#menu-select-city-purple:before {    
    width: 180px;    
    top: -6px;
}

#menu-select-city-purple .tix-finder {
	width: 80px;
	padding: 8px 0 10px 24px;
	letter-spacing: 0.08em;
}

#menu-select-city-purple .tix-map {
    margin: 4px 8px 0 0;
}

#top-nav-clean-menu-purple .levl-1 {
	padding: 8px 16px 10px;
	line-height: 14px;	
	letter-spacing: 0.12em;
}

#top-nav-clean-menu-purple li.has-dropdown .dropdown-wrapper {
	letter-spacing: 0.1em;
	font-size: 13px;
}

#menu-select-city-purple .dropTitleA {
	letter-spacing: 0.2em;
}

#scrollable-city-list-purple .grid3col-wrapper .list-wrap a {
	font-size: 13px;
	letter-spacing: 0.12em;
}

.index-header-bottom .nav-wrapper .menu-right a {
	letter-spacing: 0.12em;
}
